<div class="menu-container">
  {{#each content as |menuItem|}}
  <div class="menu-item">
    <h2 class="menu-item__heading">{{menuItem.title}}</h2>
    <div class="menu-item__stats">{{menuItem.rating}} stars</div>
    <div class="menu-item__image">
      <img src="{{menuItem.img}}.jpeg" alt="{{menuItem.img}}">
    </div>
  </div>
  {{/each}}
</div>

{{outlet}}
